/* Start global*/
:root {
    --main-color: #25cac2;
    --secondary-color: #2d4756;
    --sec-padding: 60px;
    --sec-background: #f6f6f6;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", sans-serif;
}


.container {

    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/*End global */

/* start componant */
.special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
}

.special-heading+p {
    text-align: center;
    margin-top: -100px;
}

@media (max-width:767px) {
    .special-heading {
        font-size: 60px;
    }

    .special-heading+p {
        margin-top: -40px;
    }
}


/* End componant */

/*Start heading*/
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header .logo {
    width: 60px;
}

.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span {
    background-color: black;
    height: 3px;
    margin-bottom: 5px;
}

.header .links .icon span:first-child {
    width: 100%;
}

.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: .3s;
}

.header .links .icon span:last-child {
    width: 100%;
}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .links {

    position: relative;
}


.header ul {
    width: 200px;
    background-color: #eee;
    padding: 0px;
    margin: 0px;
    list-style: none;
    position: absolute;
    top: calc(100% + 20px);
    right: 0px;
    display: none;
    z-index: 1;
}

.header ul::before {
    content: "";
    border-width: 10px;
    border-color: transparent transparent #eee transparent;
    border-style: solid;
    position: absolute;
    right: 5px;
    top: -20px;
}

.header a {
    display: block;
    text-decoration: none;
    padding: 15px;
    color: #333;
    transition: .3s;
}

.header li:not(:last-child) {
    border-bottom: #ddd solid 1px;
}

.header .links:hover ul {
    display: block;
}

.header a:hover {
    margin-left: 10px;
}

/*end header */
/*Start landing section */
.landing {
    background-image: url(../images/img.jpg);
    background-size: cover;
    height: calc(100vh - 41.5px);
    position: relative;
}

.landing h1 {
    margin: 0px;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
}

.landing p {
    line-height: 1.8;
}

.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    text-align: center;
}

/*End landing section*/


/*Start features section*/
.features {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.features i {
    color: var(--main-color);
    font-size: 30px;
}

.features .feat {
    text-align: center;

}

.features p {
    line-height: 1.8;
    color: #777;
}

.features h3 {
    margin-top: 30px;
    font-weight: 800px;
}

/*End features section*/

/* start service */

.service {
    padding-top: var(--sec-padding);
    padding-bottom: var(--sec-padding);
}

.service-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
}

.services .service-content .serv {
    display: flex;

    margin-bottom: 50px;
}

.services .service-content .serv .text h3 {
    margin-top: 0px;
}

@media (max-width:767px) {
    .services .service-content .serv {
        flex-direction: column;
        align-items: center;
        text-align: center;

    }

    .services .service-content .serv .text h3 {
        margin-top: 20px;
    }

}



.services .service-content .serv .text p {
    line-height: 1.8;
}

.services .service-content .serv .text {
    margin-left: 20px;
}

.services .service-content .serv i {
    color: var(--main-color);
    font-size: 20px;
}

.services .img img {
    width: 260px;
    height: 380px;

}

.services .img {
    position: relative;
    z-index: 2;
}

.services .img::before {
    content: "";
    position: absolute;
    width: 100px;
    background-color: var(--secondary-color);
    right: 50px;
    top: -50px;
    bottom: -50px;
    z-index: -1;


}

@media (max-width:1199px) {
    .services .img img {
        display: none;
    }

    .services .img::before {
        display: none;
    }
}


/* End service */

/*Start portfolio*/
.portfolio {
    background-color: var(--sec-background);
    padding-top: var(--sec-padding);
    padding-bottom: var(--sec-padding);
}

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
}

.portfolio .card {
    background-color: white;
}

.portfolio .card .info {
    padding: 20px;
}

.portfolio .card h3 {
    margin: 0px;
    margin-bottom: 10px;

}

.portfolio .card p {
    margin: 0px;
    line-height: 1.8;
}

.portfolio .portfolio-content img {
    width: 100%;
    height: 50%;
}

/*End portfolio*/

/* start about */
.about {
    padding-top: var(--sec-padding);
    padding-bottom: var(--sec-padding);
}

.about .about-content {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about .container .image {
    width: 250px;
    height: 320px;
    position: relative;
}

.about .container .image img {
    width: 100%;
    height: 100%;
}

.about .container .image::before {
    content: "";
    position: absolute;
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% + 80px);
    left: -20px;
    top: -40px;
    z-index: -1;
}

.about .container .image::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 200px;
    top: -20px;
    right: -140px;
    border-left: solid 80px var(--main-color);
    border-bottom: solid 80px var(--main-color);
    z-index: -1;
}

@media (max-width:767px) {

    .about .container .image::before,
    .about .container .image::after {
        display: none;
    }
}

.about .text {
    flex-basis: calc(100% - 600px);
}

.about .text p:first-of-type {
    font-weight: bold;
    line-height: 2;

}

.about .text hr {
    border-color: var(--main-color);
    width: 50%;
    margin-left: 0px;
}

.about .text p:last-of-type {
    color: #777;
    line-height: 2;
}

@media(max-width:992px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }

    .about .container .image {
        margin: 0 auto 40px auto;
    }

    .about .container .about-content hr {
        margin: 0px auto;
    }
}

/* End about */

/* start contact*/
.contact {
    padding-top: var(--sec-padding);
    padding-bottom: var(--sec-padding);
    background-color: var(--sec-background);
}

.contact .info {
    margin-top: 100px;
}

.contact .info .label {
    font-size: 50px;
    font-weight: 800;
    color: var(--secondary-color);
}


.contact .info a {
    display: block;
    text-decoration: none;
    color: var(--main-color);
    font-size: 40px;
    font-weight: 800;
    margin-top: -30px;
    margin-left: 30px;
    margin-bottom: 20px;
}


@media (max-width:992px) {
    .contact .info .label {
        font-size: 40px;
    }

    .contact .info a {
        font-size: 30px;
    }
}

@media (max-width:767px) {
    .contact .info .label {
        font-size: 20px;
    }

    .contact .info a {
        margin-top: -10px;
        font-size: 20px;
    }

}

.contact .info .social {
    display: flex;
    margin-left: 50px;
}

.contact .social i {
    color: var(--secondary-color);
    margin-left: 10px;
}


/* End contact*/

/*Start Footer*/
.footer {
    background-color: var(--secondary-color);
    color: white;
    height: 60px;
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer span {
    font-weight: bold;
    color: var(--main-color);
}

/*End Footer*/